In [1]:
# Q1

In [2]:
def is_symmetrical_num(n):
    print("Entered number is :",int(n))
    if str(n) == str(n)[::-1] :
        print("True")
    else :
        print("False")

In [3]:
is_symmetrical_num(7227)

Entered number is : 7227
True

In [4]:
is_symmetrical_num(12567)

Entered number is : 12567
False

In [5]:
is_symmetrical_num(9939)

Entered number is : 9939
False

In [6]:
is_symmetrical_num(1112111)

Entered number is : 1112111
True

In [ ]:
# Q2

In [7]:
def multiply_nums() :
    n = input("Enter numbers separated by space :")
    l = n.split(" ")
    mul = 1
    for i in l :
        i = int(i)
        mul = mul*i
    print(mul)

In [8]:
multiply_nums()

Enter numbers separated by space :1 2 3 4
24

In [9]:
multiply_nums()

Enter numbers separated by space :2 3
6

In [10]:
multiply_nums()

Enter numbers separated by space :54 75 453 0
0

In [11]:
multiply_nums()

Enter numbers separated by space :10 -2
-20

In [12]:
# Q3

In [18]:
def square_digits(n) :
    sq = 1
    for i in n :
        i = int(i)
        sq = i**2
        print(sq,end="")
    print("\n")
    print(type(sq))

In [19]:
square_digits("9119")

811181

<class 'int'>

In [20]:
square_digits("2483")

416649

<class 'int'>

In [21]:
square_digits("3212")

9414

<class 'int'>

In [22]:
# Q4

In [25]:
def setify(l) :
    s = set(l)
    l1 = list(s)
    l1.sort()
    print(l1)

In [28]:
setify([1,3,3,5,5])

[1, 3, 5]

In [29]:
setify([4,4,4,4])

[4]

In [30]:
setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [31]:
setify([3,3,3,2,1])

[1, 2, 3]

In [32]:
# Q5

In [33]:
def mean(n) :
    x = len(n)
    sum = 0
    for i in n :
        i = int(i)
        sum = sum+i
    mean = (sum/x)
    print(mean)

In [35]:
mean("42")

3.0

In [36]:
mean("12345")

3.0

In [37]:
mean("666")

6.0